@bg: #333;
@w: #FFF;

.i-1 {
  margin: .8% auto;
  width: 98.8%;
  border: 1px solid red;
}

.i-2 {
  margin: 15% auto;
  width: 80%;
  border: 1px solid red;
}

#loginform {
  label { width: 28%; }
  a {
    margin-left: 28% !important;
    width: 50%;
  }
}

.listheader {
  background: @bg;
  padding: 2px 2px;
  min-height: 32px;
  .sorter {
    margin-left: 15px;
    div {
      padding: 2px 5px;
      background: @w;
      margin: 4px 4px;
      float: left;
      a {
        color: @bg;
        text-decoration: none;
        font-size: 12px;
      }
    }
    div.lbl {
      background: @bg;
      color: red;
    }
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.mr4 {
  margin-right: 4px !important;
}

.mt2 {
  margin-top: 2px !important;
}

















